{% extends 'CopetForum/forum/base.html' %}
{% block title %}新增主題{% endblock %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static 'CopetForum/js/createSubject.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="col-lg-offset-2 col-lg-8">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-hover">
                {{ form.as_table }}
                {{ responseForm.as_table }}
            </table>
            <input class="btn-primary btn" type="submit" value="送出"/>
        </form>
    </div>
{% endblock %}