{% extends 'CopetForum/forum/base.html' %}
{% block head %}
    {% load staticfiles %}
    <link href="{% static 'CopetForum/css/responseList.css' %}" rel="stylesheet" />
    <script src="{% static 'CopetForum/js/responseList.js' %}"></script>
{% endblock %}
{% block title %}{{ subject.name }}{% endblock %}
{% block body %}
    <p>目前位置：
        <a href="{% url 'CopetForum.views.topic.listAll' %}">分類列表</a> >>
        <a href="{% url 'CopetForum.views.topic.listAllSubjectInTopic' subject.topic.id %}">{{ subject.topic.name }}</a> >>
        <a href="{% url 'CopetForum.views.subject.listAllResponseInSubject' subject.id %}">{{ subject.name }}</a></p>
    <p class="text-success">討論串</p>
    {% if List %}
        <div class="list-group">
            <a class="list-group-item">
                <h4 class="list-group-item-heading">主題： {{ subject.name }}</h4>
            </a>
        {% for response in List %}
            <a class="list-group-item">
                {% if user.is_superuser or user == response.author %}
                <form method="GET">
                    <button type="submit" formaction="{% url 'CopetForum.views.subject.deleteResponse' subject.id response.id %}" class="close text-right">&times;</button>
                </form>
                {% endif %}
                <h4 class="list-group-item-heading">{{ response.author.first_name }}({{ response.author }})說：</h4>
                <p></p>
                <p class="list-group-item-text">{{ response.content|linebreaks }}</p>
                <p></p>
                <p class="timestamp">{{ response.timestamp }}</p>
            </a>
        {% endfor %}
        <a class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered table-hover">
                    {{ form.as_p }}
                </table>
                <input class="btn-primary btn" type="submit" value="送出"/>
            </form>
        </a>
        </div>
    {% else %}
        <p class="text-danger">目前沒有討論喔！</p>
    {% endif %}
{% endblock %}
