<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load staticfiles %}
    {# jQuery #}
    <script src="{% static 'CopetForum/jQuery/jquery-2.0.3.min.js' %}"></script>
    {# bootstrap #}
    <link href="{%  static 'CopetForum/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'CopetForum/bootstrap/js/bootstrap.min.js' %}"></script>
    {#  base  #}
    <link href="{% static 'CopetForum/css/base.css' %}" rel="stylesheet" />
    <title>{% block title %}CoPet論壇{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div class='container'>
            {% block navLeft %}
                <a class="navbar-brand" href="{% url 'CopetForum.views.home' %}">CoPet論壇</a>
                    <ul class="nav navbar-nav">
                        <li id="navHome"><a href="{% url 'CopetForum.views.home' %}">首頁</a></li>
                        <li id="navForum"><a href="{% url 'CopetForum.views.topic.listAll' %}">進入論壇</a></li>
                        {% if user.is_superuser %}<li id="navManagemet"><a href="{% url 'CopetForum.views.management.management' %}">論壇管理</a></li>{% endif %}
                        {% if not user.is_anonymous %}<li id="navProfile"><a href="{% url 'CopetForum.views.profile.update' %}">個人資料管理</a></li>{% endif %}
                    </ul>
            {% endblock %}
            {% if user.is_anonymous %}
                <div class="navbar-text pull-right">哈囉！訪客</div>
                <form method="POST" class="navbar-form pull-right" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                    <input class="form-control" id="navUsername" name="username" placeholder="帳號"/>
                    <input class="form-control" id="navPassword" name="password" placeholder="密碼" type="password"/>
                    <button type="submit" class="btn btn-info">登入</button>
                    <a href="{% url 'CopetForum.views.register.register' %}" class="btn-success btn">註冊</a>
                </form>
            {% else %}
                <form method="POST" class="navbar-form pull-right" action="{% url 'django.contrib.auth.views.logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">登出</button>
                </form>
                <div id="navButtonGroup" class="btn-group pull-right navbar-btn">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        哈囉！{{ user.first_name }} ({{ user }})<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'CopetForum.views.profile.update' %}">個人資料</a></li>
                        <li><a href="{% url 'django.contrib.auth.views.password_change' %}">更改密碼</a></li>
                        <li><a href="{% url 'django.contrib.auth.views.logout' %}">登出</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class='container'>
        {% block preBody %}{% endblock %}
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
{% block navControlScript %}
    <script>
        $("#navHome").addClass("active");
    </script>
{% endblock %}
{% block Script %}{% endblock %}