{% extends 'CopetForum/base.html' %}
{% block head %}
    {% load staticfiles %}
    <link href="{% static 'CopetForum/css/home.css' %}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <h3>Welcome to CoPet 論壇!</h3>
    <p class="text-success">最新回應</p>
    {% if List %}
        <div class="list-group">
        {% for response in List %}
            <a class="list-group-item">
                <h4 class="list-group-item-heading">{{ response.author.first_name }}({{ response.author }})說：</h4>
                <p></p>
                <p class="list-group-item-text">{{ response.content|linebreaks }}</p>
                <p></p>
                <p class="timestamp">{{ response.timestamp }}</p>
            </a>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-danger">目前沒有最新回應喔！</p>
    {% endif %}

{% endblock %}