{% extends 'CopetForum/profile/base.html' %}
{% block title %}密碼成功變更{% endblock %}
{% block head %}
    <meta http-equiv="refresh" content="3;{% url 'CopetForum.views.home' %}" />
{% endblock %}
{% block body %}
    <div class="col-lg-offset-4 col-lg-4">
        <h3 class="text-info text-center">您的密碼已改變！</h3>
        <p class="text-center">請記得用新的密碼繼續登入。</p>
        <p class="text-center">如果3秒後沒有自動跳轉請按<a href="{% url 'CopetForum.views.home' %}">這裡</a>回到首頁。</p>
    </div>
{% endblock %}
