{% extends 'CopetForum/profile/base.html' %}
{% block title %}更改密碼{% endblock %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static 'CopetForum/js/changPassword.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="col-lg-offset-3 col-lg-6">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-hover">
                {{ form.as_table }}
            </table>
            <input class="btn-primary btn" type="submit" value="送出"/>
        </form>
    </div>
{% endblock %}