{% extends 'CopetForum/profile/base.html' %}
{% block title %}編輯個人資料{% endblock %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static 'CopetForum/js/profile.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="col-lg-offset-2 col-lg-8">
        <p class="text-primary">您的個人資料</p>
        <form method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-hover">
                <tr>
                    <th>帳號</th>
                    <td>{{ user.username }}</td>
                </tr>
                {{ form.as_table }}
            </table>
            <input class="btn-primary btn" type="submit" value="送出"/>
            <span class="text-warning">想要換密碼？</span>
            <a class="btn btn-warning" href="{% url 'django.contrib.auth.views.password_change' %}">更改密碼</a>
            {% if message %}<p class="text-success">{{ message }}<p>{% endif %}
        </form>
    </div>
{% endblock %}