{% extends 'CopetForum/base.html' %}
{% block title %}管理者登入{% endblock %}
{% block body %}
    <div class="col-lg-offset-3 col-lg-5">
        <form method="POST" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <table class="table">
                <thead>
                    {% if user.is_anonymous %} <p class="text-info">請登入以繼續使用</p>
                    {% else %} <p class="text-info">以其他帳號登入</p>
                    {% endif %}
                </thead>
                <tr>
                    <td><label for="username">帳號</label></td>
                    <td><input name="username" id="username" class="form-control"/></td>
                </tr>
                <tr>
                    <td><label for="password">密碼</label></td>
                    <td><input name="password" id="password" class="form-control" type="password"/></td>
                </tr>
            </table>
            {% if form.errors %}
                <code>帳號或密碼錯誤</code>
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <input type="submit" class="btn btn-primary" value="登入">
            <span class="text-warning">沒有帳號嗎?註冊一個吧</span>
            <a href="{% url 'CopetForum.views.register.register' %}" class="btn-success btn">註冊</a>
        </form>
    </div>
{% endblock %}