{% extends 'CopetForum/base.html' %}
{% block title %}感謝您的使用{% endblock %}
{% block body %}
    <div class="col-lg-offset-4 col-lg-4">
        <h3 class="text-info text-center">感謝您今天的使用！</h3>
        <p class="text-center">張紘銘 致謝</p>
    </div>
{% endblock %}