{% extends 'CopetForum/base.html' %}
{% block head %}
    <meta http-equiv="refresh" content="3;{% url 'CopetForum.views.home' %}" />
{% endblock %}
{% block title %}註冊成功{% endblock %}
{% block body %}
    <div class="col-lg-offset-4 col-lg-4">
        <h3 class="text-info text-center">註冊成功！</h3>
        <p class="text-center">你好{{ user }} ({{ user.first_name }})，</p>
        <p class="text-center">如果3秒後沒有自動跳轉請按<a href="{% url 'CopetForum.views.home' %}">這裡</a>回到首頁。</p>
    </div>
{% endblock %}
