{% extends 'CopetForum/management/base.html' %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static 'CopetForum/js/profile.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="col-lg-offset-2 col-lg-8">
        <p class="text-success">後台管理工具</p>
        <ul>
            <li><a target="_blank" href="/admin/">連結到 Django 後台管理系統(開新分頁)</a></li>
            <li><a href={% url 'CopetForum.views.facebook.getAuthorize'%}>刷新facebook page key</a></li>
        </ul>
    </div>
{% endblock %}