{% extends 'CopetForum/management/base.html' %}
{% block head %}
    <meta http-equiv="refresh" content="3;{% url 'CopetForum.views.management.management' %}" />
{% endblock %}
{% block body %}
    <p class="text-warning">設定 page token 失敗。</p>
    <p>如果3秒後沒有自動跳轉請按<a href="{% url 'CopetForum.views.management.management' %}">這裡</a>回到管理首頁。</p>
{% endblock %}