{% extends 'CopetForum/forum/base.html' %}
{% block title %}{{ topic.name }}列表{% endblock %}
{% block body %}
    <p>目前位置： <a href="{% url 'CopetForum.views.topic.listAll' %}">分類列表</a> >> <a href="{% url 'CopetForum.views.topic.listAllSubjectInTopic' topic.id %}">{{ topic.name }}</a></p>
    <a href="{% url 'CopetForum.views.subject.create' topic.id %}" class="btn btn-success">新增討論</a>
    {% if List %}
        <div class="list-group">
        {% for subject in List %}
            <a href="{% url 'CopetForum.views.subject.listAllResponseInSubject' subject.id %}" class="list-group-item">
                {% if user.is_superuser or user == subject.author %}
                <form method="GET">
                    <button type="submit" formaction="{% url 'CopetForum.views.subject.delete' subject.id %}" class="close text-right">&times;</button>
                </form>
                {% endif %}
                <h4 class="list-group-item-heading"><b>{{ subject.name }}</b></h4>
                <p class="list-group-item-text">樓主：{{ subject.author }}</p>
            </a>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-danger">目前沒有任何討論喔！</p>
    {% endif %}
{% endblock %}
