{% extends 'CopetForum/forum/base.html' %}
{% block title %}論壇分類列表{% endblock %}
{% block body %}
    <p>目前位置： <a href="{% url 'CopetForum.views.topic.listAll' %}">分類列表</a></p>
    {% if user.is_superuser %}
        <a href="{% url 'CopetForum.views.topic.create' %}" class="btn btn-success">新增分類主題</a>
    {% endif %}
    {% if List %}
        <div class="list-group">
        {% for topic in List %}
            <a href="{% url 'CopetForum.views.topic.listAllSubjectInTopic' topic.id %}" class="list-group-item">
                {% if user.is_superuser%}
                <form method="GET">
                    <button type="submit" formaction="{% url 'CopetForum.views.topic.delete' topic.id %}" class="close text-right">&times;</button>
                </form>
                {% endif %}
                <h4 class="list-group-item-heading"><b>{{ topic.name }}</b></h4>
                <p class="list-group-item-text">{{ topic.description }}</p>
            </a>
        {% endfor %}
        </div>
    {% else %}
        <p class="text-danger">目前沒有分類主題喔！</p>
    {% endif %}
{% endblock %}
