{% extends "CopetForum/base.html" %}
{% block title %}登入具有權限的帳號{% endblock %}
{% block preBody %}
    <div class="row">
        <p class="text-center text-danger">您的權限不足，若要繼續瀏覽頁面，請登入具有權限的人</p>
        <div class="col-lg-offset-4 col-lg-4">
            <form method="POST" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        {% if user.is_anonymous %} <p class="text-info">登入</p>
                        {% else %} <p class="text-info">以其他帳號登入</p>
                        {% endif %}
                    </thead>
                    <tr>
                        <td><label for="username">帳號</label></td>
                        <td><input name="username" id="username" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">密碼</label></td>
                        <td><input name="password" id="password" class="form-control" type="password"/></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <code>帳號或密碼錯誤</code>
                {% endif %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <input type="submit" class="btn btn-primary" value="登入">
            </form>
        </div>
    </div>
{% endblock %}