{% extends "CopetForum/base.html" %}
{% block title %}頁面不存在{% endblock %}
{% block preBody %}
    <div class="row">
        <p class="text-center text-danger">糟糕！查詢的頁面不存在</p>
    </div>
{% endblock %}