{% extends "CopetForum/base.html" %}
{% block title %}伺服器錯誤{% endblock %}
{% block preBody %}
    <div class="row">
        <p class="text-center text-danger">糟糕！伺服器目前遇到一些問題。</p>
        <p class="text-center">如有需要請聯絡 email: my10311＠yahoo.com.tw</p>
    </div>
{% endblock %}